/* --------- FONTS ------------ */
@font-face {
	font-family: mimoid;
	src: url(/assets/font/MimoidVF.woff2);
}
@font-face {
	font-family: Roboto;
	src: url(/assets/font/Roboto-Regular.woff2);
}
/* ---- MINIMAL CSS RESET ----- */
html {
	box-sizing: border-box;
	font-size: 16px;
	background-size: 100% 100%;
	background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
figcaption {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: square;
	list-style-position: inside;
	margin: 1rem 0;
}
li {
	font-size: 1.4rem;
	margin: 0.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}
/* ------ END CSS RESET ------- */

/* ------ MAIN / GALLERY ------ */
html {
	background-image: radial-gradient(
			70% 53% at 36% 76%,
			#73f2ffff 0%,
			#073aff00 100%
		),
		radial-gradient(42% 53% at 15% 94%, #073aff00 5%, #ffffffff 7%),
		radial-gradient(31% 43% at 7% 98%, #ffffffff 24%, #073aff00 100%),
		linear-gradient(125deg, #4eb5ffff 1%, #4c00fcff 100%);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
}
p,
figcaption {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}
body {
	margin: auto;
	width: 95vw;
}

main {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
main > div {
	flex-grow: 0;
	margin: 1em 2em 1em 2em;
	max-width: 880px;
}
main > div > a {
	text-decoration: none;
}
figure {
	display: table;
}
figure img {
	display: block;
}
figcaption {
	display: table-caption;
	caption-side: bottom;
	margin-top: 0.5em;
	font-size: 20px;
	text-align: center;
}

a {
	text-decoration: underline #000 dashed;
	color: black;
}
a:hover,
a:focus {
	color: seagreen;
	background-color: #f7c6fc;
}
p {
	font-size: 24px;
}
main > p,
article > p {
	margin-top: 1em;
	margin-bottom: 1em;
}
h1,
h2,
h3 {
	font-family: mimoid, "Roboto", sans-serif;
	font-weight: 600;
}
h1 {
	font-size: 48px;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 40px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h3 {
	font-size: 24px;
}

/* -------PROJECT PAGES ------ */
div figure img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
/* ------ ARTICLE PAGES ------ */
article {
	margin-top: 3em; 
        padding: 0 1em;
	background-color: white;
}
article > h1 {
	font-weight: 700;
}
article > figure > figcaption {
	text-align: left;
}
blockquote {
	border-left: 4px solid #fd92f3;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 1.5rem; 
	padding-left: 15px;
}
code {
	background: #f4f4f4;
	border: 1px solid #ddd;
	border-left: 3px solid #fd92f3;
	color: #592d86; /* slightly darker than rebeccapurple */
	white-space: pre;
	width: 100%;
	overflow-x: scroll;
	font-family: Courier, monospace;
	font-size: 15px;
	line-height: 1.6;
	display: inline-block;
	margin-bottom: 1.6em;
	padding: 1em 1.5em;
}
/* ---------- HEADER ---------- */
header {
	/* margin-top: 1em; */
	padding: 1rem;
	background-color: white;

	overflow: hidden;
	/* position: fixed; */
	width: 100%;
	left: 0;
	top: 0;
}

header > span {
	font-family: mimoid, "Roboto", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 36px;
	font-family: mimoid;
}
header > span > a {
	text-decoration: none;
	background-color: white !important;
}
nav {
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-align: right;
	font-style: normal;
}
nav > a {
	margin: 0.5em;
	color: black;
	text-decoration: none !important;
	background-color: white !important;
}

/* -------- FOOTER --------- */

footer {
	clear: both;
	margin-top: 1em;
	padding: 10px 0px;
	font-style: italic;
	font-size: 0.8em;
}

footer ul {
	float: left;
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: left;
}

footer ul li {
	float: left;
	padding: 3px 8px 3px 0px;
	margin: 6px 8px 6px 0px;
}

footer ul li a {
	text-decoration: none;
}

footer ul li img {
	height: 30px;
	width: 30px;
}

/* ----- MEDIA QUERIES ----- */
@media only screen and (max-width: 800px) {
h1,h2,h3,p,ul,ol,pre,iframe {
  max-width: 90vw;
}
	nav {
		font-size: 18px;
	}
	main {
		flex-direction: column;
	}
	iframe {
		max-width: 95vw;
	}
}
@media only screen and (min-width: 800px) {
  

	article {
		width: 90%;
		margin: 1em;
	}
	iframe {
		max-width: 45vw;
	}
}
@media only screen and (min-width: 1200px) {
	article {
		width: 60%;
	}
	aside {
		width: 95%;
	}
	div figure img {
		height: 20vw;
		width: 20vw;
		object-fit: cover;
	}
	aside > div > figure > img {
		width: 35vw;
		height: auto;
	}
}
