/* --------- FONTS ------------ */
@font-face {
  font-family: mimoid;
  src: url(MimoidVF.woff2)
}
/* ---- MINIMAL CSS RESET ----- */
html {
	box-sizing: border-box;
	font-size: 16px;
 background-size: 100% 100%; background-position: 0px 0px,0px 0px,0px 0px,0px 0px; background-image: radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%), radial-gradient(42% 53% at 15% 94%, #073AFF00 5%, #FFFFFFFF 7%), radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%), linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%);
 background-size: cover;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
figcaption {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	/* list-style: none; */
 list-style-type: square;
margin-left: 10%;
}

img {
	max-width: 100%;
	height: auto;
}
/* ------ END CSS RESET ------- */

/* ------ MAIN / GALLERY ------ */
p,
figcaption {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}
body {
	margin: auto;
	width: 95vw;
}

main {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
main > div {
  margin: 1em 2em 2em 1em;   
  max-width: 880px; 
}
figure {
}
figcaption {
        margin-top:0.5em;
	font-size: 20px;
	text-align: center;
}

a {
  text-decoration: none;
	color: black;
}
a:hover {
	color: seagreen;
}
p {
   font-size: 24px;
}
main > p, article > p {
   margin-top: 1em;
   margin-bottom: 1em;
}
h1,h2,h3,h4,h5,h6 {
  	font-family: mimoid, "Roboto", sans-serif;
}
h1 {
  font-size: 48px;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 40px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 24px;
}

/* -------PROJECT PAGES ------ */
div figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* ------ ARTICLE PAGES ------ */
article {
  /* width: 70%;
  margin: auto; */
margin-top: 3em;
}
article > h1 {
	font-weight: 700;
}
article > figure > figcaption {
	text-align: left;
}

/* ---------- HEADER ---------- */
header {
	/* margin-top: 1em; */
  padding: 1rem;
	background-color: white;

	overflow: hidden;
	/* position: fixed; */
	width: 100%;
	top: 0;
	left: 0;
}

header > span {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 36px;
        font-family: mimoid;
}
nav {
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-align: right;
	font-style: normal;
}
nav > a {
	margin: 0.5em;
	color: black;
	text-decoration: none;
}

/* -------- FOOTER --------- */

footer {
  clear:both;
  margin-top:1em;
  padding:10px 0px;
  font-style:italic;
  font-size:0.8em;
}

footer ul {
  float:left;
  list-style-type:none;
  padding:0;
  margin:0;
  float:left;
}

footer ul li {
  float:left;
  padding:3px 8px 3px 0px;
  margin:6px 8px 6px 0px;
}

footer ul li a{
  text-decoration:none;
}

footer ul li img {
  height:30px;
  width:30px;
}

/* ----- MEDIA QUERIES ----- */
@media only screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }
  iframe {
  max-width: 95vw;
  }
}
@media only screen and (min-width: 800px) {
  article {
    width: 90%;
    margin: 1em;
  }
  iframe {
  max-width: 45vw;
  }
}
@media only screen and (min-width: 1200px) {
  article {
    width: 72%;
  }
aside {
    width: 95%; 
}
  div figure img {
    height: 800px;
    width: 800px;
    object-fit: cover;
  }
}
