<!DOCTYPE html>
<html>
	<head>
		<title>👃📓 {{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/categories">Categories</a></li>
    		</ul>
		</nav>

		<h1><a href="/" style="background-color: transparent; text-decoration: none;">👃📓</a></h1>

		<div class="container">

		{{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:L@universalresearchdotgroup">email</a></li>
        		<li><a href="https://github.com/lee2sman">github.com/lee2sman</a></li>
			</ul>
		</footer>
	</body>
</html>
