<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/main.css">
<style>
main p {
  margin-top: 1em;
  margin-bottom: 1em;
}
</style>
	</head>
	<body>


	  <header>
	    <span><a href="/">👽 Lee Tusman</a></span>
	    <nav>
	      <a href="/">Projects</a>
	      <a href="/now">Now</a>
	      <a href="/info">Info</a>
	      <a href="/pages">+</a>
	      <a href="/nosebook">Blog</a>
	    </nav>

	  </header>

		<main>


		  <article>

		{{ content }}

		  </article>
		</main>

		<footer>
        <ul>
	  <li>
		    <a href="{{ site.baseurl }}/feed.xml" alt='RSS feed'><img src='{{"/images/rss.png" | absolute_url}}' alt='RSS icon'></a>
	  </li>
          <li>
            <a href="#">
	      <img src='{{"/images/up_arrow.svg" | absolute_url}}' alt="Top of page"/>
            </a>
          </li>
          <li>
	    <a href="mailto:leetusman@gmail.com">
	      <img src='{{"/images/mail.svg" | absolute_url}}' alt="Contact"/>
            </a>
          </li>
          <li>
            <a href="/info">
	      <img src='{{"/images/info.svg" | absolute_url}}' alt="info"/>
            </a>
          </li>
          <li>
            <a href="https://webring.xxiivv.com/#leet">
	      <img src='{{"/images/webring.svg" | absolute_url}}' alt="Merveilles webring"/>
            </a>
          </li>
          <li>
              <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener">
		<img src='{{"/images/cc.svg" | absolute_url}}' alt="Creative Commons License"/></a>
          </li>
        </ul>
      </footer>	

	</body>
</html>
