<!DOCTYPE html>
<html>
	<head>

	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>👃📓 {{ page.title }}</title>
		<!-- link to main stylesheet -->
		<!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/main.css"> -->
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/medium.css">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/style.css">
	</head>
	<body>
		<nav>
    		<ul>
			<li><a href="{{ site.baseurl }}/..">Home</a></li>
			<li><a href="{{ site.baseurl }}/">Posts</a></li>
	        	<li><a href="{{ site.baseurl }}/about">Info</a></li>
			<!--<li><a href="https://leetusman.com/resources">Resources</a></li>-->
			<li><a href="{{ site.baseurl }}/../resources">Resources</a></li>
    		</ul>
		</nav>

		<h1><a href="{{ site.baseurl }}/" style="background-color: transparent; text-decoration: none;">👃📓</a></h1>

		<div class="container">

		{{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
		  <li>
		    <a href="{{ site.baseurl }}/feed.xml" alt='RSS feed'><img src='{{"/images/rss.png" | absolute_url}}' alt='RSS icon'> RSS</a>
		  </li>

        		<li><a href="mailto:leetusman@gmail">email</a></li>
        		<li><a href="https://github.com/lee2sman">github.com/lee2sman</a></li>
			</ul>
		</footer>
	</body>
</html>
